
.App{
  width: 100%;
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px
}
h1{
  margin: 40px 0;
  font-size: 400%;
  font-weight: 200;
  color: gray;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 1.5px solid white;
}
input, textarea{
  margin: 15px 0;
  padding: 15px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.6), transparent);
  border: none;
  border-radius: 20px;
  caret-color: white;
  color: white;
}
input:focus, textarea:focus{
  outline: none;
  background: transparent;
  border-bottom: 1px solid white;
  font-size: 200%;
}
input:focus::placeholder, textarea:focus::placeholder{
  color: white;
}
::placeholder{
  font-family: 'Montserrat', sans-serif;
  color: gray;
}
button{
  border: none;
  padding: 15px;
  border-radius: 100px;
  font-size: 150%;
  background-color: gray;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.valid{
  color: #a8ff78;
  box-shadow: 5px 5px 40px #a8ff78;
  cursor: pointer;
}
.invalid{
  color: #ff7878;
  box-shadow: 5px 5px 40px #ff7878;
  cursor: not-allowed
}
li{
  color: #ff7878
}
