body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(60deg, #a8ff78, #78ffd6);
  padding: 20px;
  position: relative;
  overflow-x: hidden
}
#root{
  height: 100%;
}
*{
  box-sizing: border-box;
  transition: all 0.5s ease
}
code {
  font-family: 'Montserrat', sans-serif;
}
